.banner-container{
    display: flex;
    align-items: center;
    padding: 50px 240px;
    gap: 150px;
    background: rgba(229, 84, 115, 0.10);
}
.banner-text{
    font-size: 60px;
}
.banner-description{
    font-size: 20px;
    margin: 30px 0px;
}
.btn{
    background-color: steelblue;
    padding: 5px;
    color: aliceblue;
    border: rebeccapurple;
    border-radius: 5px;
}
.btn:hover{
    background-color: deepskyblue;
    color: black;
    cursor: pointer;
}